<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Мой город | Редактирование отзыва</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" th:href="@{/style.css}" href="../style.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a th:href="@{/logout}">Выход</a></li>
      <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a></li>
      <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a></li>
      <li><a href="/events">Мероприятия</a></li>
      <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/tickets">Билеты</a></li>
      <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/users">Пользователи</a></li>
      <li th:if="${#request.isUserInRole('USER')}"><a href="/user/reviews">Отзывы</a></li>
      <li th:if="${#request.isUserInRole('USER')}"><a href="/user/profile">Личный кабинет</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="form-container">
    <h2>Редактирование отзыва</h2>
    <form th:object="${review}" th:action="@{/user/reviews/{reviewId}/edit(reviewId=${review.id})}" method="post">
      <div>
        <label>Отзыв:</label>
        <br>
        <textarea th:field="*{comment}"></textarea>
        <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
      </div>
      <div>
        <input type="submit" value="Сохранить"/>
      </div>
    </form>
  </div>
</main>

<footer>
  <p>&copy; 2023 Мой город</p>
</footer>
</body>
</html>
