<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Мой город | Мероприятия</title>-->
<!--    <link rel="stylesheet" href="style.css">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a href="/">Главная</a></li>-->
<!--            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a th:href="@{/logout}">Выход</a></li>-->
<!--            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a></li>-->
<!--            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a></li>-->
<!--            <li><a href="/events">Мероприятия</a></li>-->
<!--            <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/tickets">Билеты</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->
<!--<main>-->
<!--    <table class="center-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th> ID</th>-->
<!--            <th> Название события</th>-->
<!--            <th> Описание события</th>-->
<!--            <th> Дата и время события</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        &lt;!&ndash; Генерация строк таблицы на основе данных JSON &ndash;&gt;-->
<!--        <tr th:each="yourData : ${yourDataList}">-->
<!--            <td th:text="${yourData.id}"></td>-->
<!--            <td th:text="${yourData.eventName}"></td>-->
<!--            <td th:text="${yourData.eventDescription}"></td>-->
<!--            <td th:text="${yourData.eventDateTime}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</main>-->
<!--<footer>-->
<!--    <p>&copy; 2023 Мой город</p>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой город | Мероприятия</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a
                    th:href="@{/logout}">Выход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a>
            </li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a>
            </li>
            <li><a href="/events">Мероприятия</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/tickets">Билеты</a>
            </li>
            <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/users">Пользователи</a></li>
        </ul>
    </nav>
</header>
<main>
    <div th:if="${#request.isUserInRole('ADMIN')}">
        <a class="edit-button" th:href="@{'/events/new'}">Создать</a>
    </div>
    <br>
    <div class="card-container">
        <!-- Генерация карточек на основе данных JSON -->
        <div th:each="yourData : ${yourDataList}" class="card">
            <h3 th:text="${yourData.eventName}"></h3>
            <p th:text="${yourData.eventDescription}"></p>
            <p th:text="${yourData.eventDateTime}"></p>
            <div th:if="${#request.isUserInRole('ADMIN')}">
                <a class="edit-button" th:href="@{'/events/' + ${yourData.id} + '/edit'}">Редактировать</a>
                <a class="edit-button" th:href="@{'/events/' + ${yourData.id} + '/delete'}">Удалить</a>
            </div>
            <div th:if="${#request.isUserInRole('USER')}">
                <a class="edit-button" th:href="@{'/tickets/' + ${yourData.id} + '/buy'}">Купить билет</a>
                <a class="edit-button" th:href="@{'/reviews/' + ${yourData.id}}">Отзывы</a>
            </div>
            <br>
            <div th:if="${#request.isUserInRole('USER')}">
                <a class="edit-button" th:href="@{'/reviews/' + ${yourData.id}  + '/create'}">Написать отзыв</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2023 Мой город</p>
</footer>
</body>
</html>
