<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a th:href="@{/logout}">Выход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a></li>
            <li><a href="/events">Мероприятия</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/tickets">Билеты</a></li>
            <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/users">Пользователи</a></li>
            <li th:if="${#request.isUserInRole('USER')}"><a href="/user/reviews">Отзывы</a></li>
            <li th:if="${#request.isUserInRole('USER')}"><a href="/user/profile">Личный кабинет</a></li>
        </ul>
    </nav>
</header>