<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Мой город | Регистрация</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a th:href="@{/logout}">Выход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a></li>
            <li><a href="/events">Мероприятия</a></li>
            <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/tickets">Билеты</a></li>
        </ul>
    </nav>
</header><main>
    <div>
        <form th:action="@{/registration}" method="post">
            <br>
            <br>
            <br>
            <div><label> Логин : <input type="text" name="username"/> </label></div>
            <br>
            <div><label> Пароль: <input type="password" name="password"/> </label></div>
            <br>
            <div>
                <div class="button-container">
                    <input type="submit" value="Зарегистрироваться"/>
                </div>
                <br><br>
                Уже зарегистрированы? <a href="/login"> Войти </a>
            </div>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2023 Мой город</p>
</footer>
</body>
</html>