<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой город | Отзывы</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" th:href="@{/style.css}" href="../style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a th:href="@{/logout}">Выход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a></li>
            <li><a href="/events">Мероприятия</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/tickets">Билеты</a></li>
            <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/users">Пользователи</a></li>
            <li th:if="${#request.isUserInRole('USER')}"><a href="/user/reviews">Отзывы</a></li>
            <li th:if="${#request.isUserInRole('USER')}"><a href="/user/profile">Личный кабинет</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="card-container">
        <!-- Генерация карточек на основе данных JSON -->
        <div th:each="yourData : ${yourDataList}" class="card">
            <h3 th:text="${yourData.user.getUsername()}"></h3>
            <p th:text="${yourData.comment}"></p>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2023 Мой город</p>
</footer>
</body>
</html>