<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой город | Пользователи</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a th:href="@{/logout}">Выход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/login">Вход</a></li>
            <li th:unless="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/registration">Регистрация</a></li>
            <li><a href="/events">Мероприятия</a></li>
            <li th:if="${#request.isUserInRole('ADMIN') || #request.isUserInRole('USER')}"><a href="/tickets">Билеты</a></li>
            <li th:if="${#request.isUserInRole('ADMIN')}"><a href="/users">Пользователи</a></li>
            <li th:if="${#request.isUserInRole('USER')}"><a href="/user/reviews">Отзывы</a></li>
            <li th:if="${#request.isUserInRole('USER')}"><a href="/user/profile">Личный кабинет</a></li>
        </ul>
    </nav>
</header>
<main>
    <div th:if="${#request.isUserInRole('ADMIN')}">
        <a class="edit-button" th:href="@{'/users/new'}">Добавить</a>
    </div>
    <br>
    <div class="card-container">
        <!-- Генерация карточек на основе данных JSON -->
        <div th:each="yourData : ${yourDataList}" class="card">
            <h3 th:text="${yourData.username}"></h3>
            <p th:text="${yourData.email}"></p>
            <p th:text="${yourData.active}"></p>
            <p th:text="${yourData.role}"></p>
            <div th:if="${#request.isUserInRole('ADMIN')}">
                <a class="edit-button" th:href="@{'/users/' + ${yourData.id} + '/edit'}">Редактировать</a>
                <a class="edit-button" th:href="@{'/users/' + ${yourData.id} + '/delete'}">Удалить</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2023 Мой город</p>
</footer>
</body>
</html>
